.card {
  border: 0px;
}
.menu {
  i {
    color: $light;
  }
}
.product {
  max-height: 100%;
}
.top-bar {
  color: $primary;
}
li {
  text-decoration: none;
}
.nav a:hover {
  background-color: $primary;
  color: $light;
}

.slider {
  &__nav {
    max-height: 400px;
  }
}
.sub-input .btn {
  border-color: $secondary;
  color: $secondary;
}
#placeBtn {
  bottom: 100px;
  display: none;
  position: absolute;
  left: calc(50% - 20vw);
  background-color: $primary;
  color: $secondary;
  width: 40vw;
  height: 5vh;
  border-radius: 25px;
  border: 1px solid;
  font-weight: bold;
}
#ar-txt {
  top: 100px;
  display: none;
  position: absolute;

  h5 {
    text-align: center;
    color: $secondary;
    text-shadow: 1px 1.5px $primary;
  }
}

.startArBtn {
  background-color: $primary;
}
#ARButton {
  color: white !important;
  opacity: 1 !important;
  font-weight: bold !important;
  border-color: $danger !important;
  bottom: 50px !important;
  box-shadow: 1px 1px 4px $danger !important;
}
#ARButton:hover {
  box-shadow: 5px 5px $danger !important;
}

#modelViewer {
  position: absolute;
  left: calc(50% - 40vw);
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
#waitModelTxt {
  text-shadow: 1px 1.5px $danger;
}
#startArTxt {
  color: $secondary;
  text-shadow: 1px 1.5px $danger;
  margin-bottom: 0px;
  text-align: center;
}
#controlModelTxt {
  color: $secondary;
  text-shadow: 1px 1.5px $danger;
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 150px);
}

@media (min-width: 1200px) {
  .slider {
    &__nav {
      max-height: 450px;
    }
    &__img {
      img {
        width: 100vw;
        height: 70vh;
      }
    }
  }
}
@media (min-width: 1400px) {
  .slider {
    &__nav {
      max-height: 500px;
    }
  }
}
@media (max-width: 768px) {
  #qrCode {
    display: none;
  }
  .qr-txt {
    display: none;
  }
}
@media (min-width: 769px) {
  #mobileBtn {
    display: none;
  }
  .btn-txt {
    display: none;
  }
}
